@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Universal selector*/
* {
    box-sizing: border-box;
}

body {
    /*Adding Font*/
    font-family: "Oswald", sans-serif;
    /*Want to center everything*/
    display: flex;
    /*saves vertically*/
    flex-direction: column;
    /*aligns everything in the center*/
    align-items: center;
    /*Want everything to be in the middle*/
    justify-content: center;
    /*height of the body*/
    height: 100vh;
    /*getting rid of margin and padding*/
    Margin: 0;
    /*dont want scroll bars to be shown by default*/
    overflow: hidden;
    background-position: center;
    background-size: cover;
    transition: 0.4s ease;
}

body::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
}

.slider-container {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 70vh;
    width: 70vw;
    overflow: hidden;
    position: relative;
}

.slide{
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition: 0.4s ease;
    z-index: 1;
}

.slide.active {
    opacity: 1;

}

.arrow:focus {
    outline: none;
}

.arrow {
    position: fixed;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 20px;
    font-size: 30px;
    border: 2px solid #ffa500;
    top: 50%;
    transform: translateY(-50%);
}

.left-arrow {
    left: calc(15vw - 65px);
}

.right-arrow {
    right: calc(15vw - 65px);
}