@import url('https://fonts.googleapis.com/css2?family=Montserrat:400,600&display=swap');
/* Universal selector*/
:root{
    --border-color: #0662f5;
    --fill-color: #33D4FF;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #2557ef95;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1{
    margin: 10px 0 0;
}

h3 {
    font-weight: 400;
    margin: 10px 0;
}

.cup {
    background-color: #fff;
    border: 4px solid var(--border-color);
    color: var(--border-color);
    border-radius: 0 0 40px 40px;
    height: 330px;
    width: 150px;
    display: flex;
    margin: 30px;
    flex-direction: column;
    overflow: hidden;
}

.cup.cup-small{
    height: 95px;
    width: 50px;
    border-radius: 0 0 15px 15px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;

}

.cup.cup-small.full{
    background-color: var(--fill-color);
    color: #fff
}

.cups {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    align-items: center;
    justify-content: center;
}

.remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.4s;
}

.remained span{
    font-size: 20px;
    font-weight: bold;
}

.remained small {
    font-size: 12px
}

.percentage {
    background-color: var(--fill-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    height: 0;
    transition: 0.3s ease-in
}

.text {
    text-align: center;
    margin: 0 0 5px;
}